<div class="products">
  <div
    *ngFor="
      let product of (foundProducts.length > 0 ? foundProducts : products)
        | paginate : { itemsPerPage: productOnPage, currentPage: page }
    "
    class="product"
  >
    <img [src]="product.getImageURL()" alt="something went" class="image" />
    <h1 class="title">{{ product.getTitle() }}</h1>
    <h2 class="price">{{ product.getPrice() }}₴</h2>
    <p class="">{{ product.getDescription() }}</p>
    <button class="button">{{ buyBtnTitle }}</button>
  </div>
</div>

<pagination-controls
  class="pagination"
  previousLabel="Prev"
  nextLabel="Next"
  [responsive]="true"
  (pageChange)="handlePageChange($event)"
></pagination-controls>

<ngx-spinner [type]="spinnerType"></ngx-spinner>
